<!-- Header -->
<%- include("header.ejs") %>
<div class="container">
  <div class="greeting">
    <h3>What's up everybody, welcome to my journal😎😎😎.</h3>
  </div>
  <div class="posts">
    <% posts.forEach(post => { %>
    <h4><a href="/<%= post.title %> "> <%= post.title %> </a></h4>
    <% if (post.content.length > 150) { %>
    <p>
      <%= post.content.slice(0, 149) + "..." %>
      <a href="/<%= post.title %> ">read more</a>
    </p>
    <% }else{ %>
    <p><%= post.content %></p>
    <% } %>
    <hr />
    <% }); %>
  </div>

  <!-- Footer -->
  <%- include("footer.ejs") %>
</div>
